/* Vars:
========================================================================== */

:root {
	--mainFontColor: #000;
	--bg: #F0F0F0;
	--bg2: #1E1E1E;
	--black: #282828;
	--white: #fff;
	--accent: #0068cf;
	--day: #0068cf;
	--night: #F0F0F0;
	--gray: #969696;
}

:root[theme='dark'] {
	--mainFontColor: #fff;
	--bg: #1E1E1E;
	--bg2: #F0F0F0;
	--black: #fff;
	--white: #282828;
	--accent: #0068cf;
	--day: #1E1E1E;
	--night: #0068cf;
	--gray: #969696;
}

// Font
$mainFont                : 'NobelWGL', NobelWGL-Book, Arial, sans-serif;
$mainFontBook            : 'NobelWGL-Book', 'NobelWGL', Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 16px;
$mainFontWeight          : normal;
$mainLineHeight          : 1.4;

// Colors
$bg: #F0F0F0;
$bg2: #1E1E1E;
$black: #282828;
$accent: #0068cf;
$gray: #969696;


// Customization Bootstrap vars from "/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
	xs: 0, 
	sm: 576px, 
	md: 768px, 
	lg: 992px, 
	xl: 1200px
	);
$container-max-widths: (
	sm: 540px, 
	md: 720px, 
	lg: 960px, 
	xl: 1334px
	);

$gutter: $grid-gutter-width;